# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Optional yarn cache directory
.cache

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# build directory
dist
